*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family:sans-serif;
}

header {
    background-color:  rgb(160, 151, 151);
    padding-inline: 16px;
}

nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 48px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style:none;
}

.nav-list a {
    font-size: 18px;
    color: black;
    padding-block: 16px;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid  black;
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content:" ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    margin-top: 5px;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('../img/Logo_Final.png');
    background-repeat: no-repeat;
    background-color: rgb(41, 35, 35);
    background-position: center center;
    background-size: 50%;
    height: 100vh;
    display: block;
    margin: auto;
}

div {
    background-color: rgb(160, 151, 151);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}
