body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/Logo_Final.png');
    background-repeat: no-repeat;
    background-color: rgb(41, 35, 35);
    background-position: center center;
    background-size: 50%;
    height: 100vh;
    display: block;
    margin: auto;
    text-align: center;
    color: white;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgb(160, 151, 151);
    padding: 30px;
    border-radius: 15px;
}

a{
    text-decoration: none;
    color: white;
    border: 3px solid burlywood;
    border-radius: 10px;
    padding: 10px;
}

a:hover{
    background-color: burlywood;
}