body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/Logo_Final.png');
    background-repeat: no-repeat;
    background-color: rgb(41, 35, 35);
    background-position: center center;
    background-size: 50%;
    height: 100vh;
    display: block;
    margin: auto;
}

.box {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgb(160, 151, 151);
    padding: 15px;
    border-radius: 15px;
    width: 25%;
}

fieldset {
    border: 3px solid burlywood;
}
legend {
    border: 1px solid burlywood;
    padding: 10px;
    text-align: center;
    background-color: burlywood;
    border-radius: 8px;
}

.inputBox {
    position: relative;
}
.inputUser  {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: burlywood;

}
#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit {
    background-color: burlywood;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-image: linear-gradient(to right, burlywood, rgb(150, 125, 93) );
}