body {
    font-family: Arial, Helvetica, sans-serif; /* Define a família de fontes para o corpo do texto */
    background-image: url('../img/Logo_Final.png'); /* Define uma imagem de fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
    background-color: rgb(41, 35, 35); /* Define uma cor de fundo */
    background-position: center center; /* Centraliza a posição da imagem de fundo */
    background-size: 50%; /* Define o tamanho da imagem de fundo */
    height: 100vh; /* Define a altura da página */
    display: block; /* Define a exibição como bloco */
    margin: auto; /* Centraliza o conteúdo horizontalmente */
}

.box {
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(160, 151, 151);
    padding: 15px;
    border-radius: 15px;
    width: 25%;
}

fieldset {
    border: 3px solid burlywood;
}
legend {
    border: 1px solid burlywood;
    padding: 10px;
    text-align: center;
    background-color: burlywood;
    border-radius: 8px;
}

.inputBox {
    position: relative;
}
.inputUser  {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: burlywood;

}
#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit {
    background-color: burlywood;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-image: linear-gradient(to right, burlywood, rgb(150, 125, 93) );
}
